.button-css{
    width: 6rem;
    height: 2.5rem;
    // border: none;
}

th {
    text-align: center;
}


.filters form {
    display: flex;
    align-items: center;
}
.filters form div,
.filters form button {
    margin: 5px;
}
